[submodule "3rdparty/pfs/common"]
	path = 3rdparty/pfs/common
	url = https://github.com/semenovf/common-lib.git
[submodule "3rdparty/rocksdb"]
	path = 3rdparty/rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "3rdparty/portable-target"]
	path = 3rdparty/portable-target
	url = git@github.com:semenovf/portable-target.git
	branch = master
[submodule "3rdparty/pfs/debby"]
	path = 3rdparty/pfs/debby
	url = git@github.com:semenovf/debby-lib.git
